#login-page {
  position: relative;
  display: flex;
  justify-content: center;
}

.container {
  position: absolute;
  top: 15%;
}

#login-page input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #4ec1e6, #eaf4fc, #4ec1e6);
  text-align: center;
}

#login-page .double-column a {
  padding: 10px;
  background: linear-gradient(to right, #4ec1e6, #eaf4fc, #4ec1e6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
}
