.input {
  width: 100%;
  min-height: 42px;
  border-radius: 3px;
  background-color: #F6F8F7;
  border: 1px solid #BDBDBD;
  padding: 4px 8px;
  margin: 4px 0;

  transition-property: border, box-shadow, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.input:hover {
  border-color: #57A85F;
  background-color: white;
}

.input:focus {
  outline: 0;
  background-color: white;
  border-color: transparent;
  box-shadow: 0 0 0 1px #808080, 0 0 0 4px #57a85f52;
  appearance: none;
  border-radius: 3px;
}

.input-error {
  padding: 4px 0 0;
  color: #E23C3C;
  text-align: left;
  border-radius: 3px;
}

.input-error { text-transform: capitalize; }

.input-no-error { display: none; }