.wrapper {
  padding: 0;
  height: calc(100% - 3.5rem);
  min-height: 1px;
  overflow-y: hidden;
}

.content {
  height: 100%;
  border: 1px solid #DBE5DF;
  background-color: #F6F8F7;
  overflow-y: auto;
}

.cell {
  padding: 8px;
  text-align: left;
}

.cell-name {
  font-weight: bolder;
}

.cell-date {
  font-size: 0.75rem;
  margin-left: 6px;
  color: #808080;
  transition: color 123ms linear;
}

.it-cell:hover .cell-date {
  color: #6B6B6B;
}

.cell-body {
}
