.header {
  position: relative;
  z-index: 88;
  margin: 0 auto;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 3px rgba(16, 16, 16, 0.1);
}

.navbar {
  display: grid;
  grid-template: 'logo links user-actions' /  max-content 1fr min-content;
  gap: 4px;
  align-items: center;

  min-height: 64px;
  padding: 8px 16px;
}

.navbar-actions {
  display: flex;
  align-items: center;
  grid-area: user-actions;
  height: 100%;
}

.navbar-links {
  grid-area: links;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
}

.navbar-item {
  position: relative;
  padding: 4px 8px;
  color: #292929;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-item:hover {
  color: #57A85F;
}

.navbar-actions > .navbar-item {
  max-height: 40px;
  border: 1px solid #292929;
  border-radius: 3px;
}

.navbar-actions > .navbar-item:hover {
  border-color: #57A85F;
}