.home-page {
  margin: 0 auto;
  width: 70%;
  max-width: 777px;
  padding: 30px;
}

.home-title {
  font-family: futura-pt-bold, sans-serif;
  font-size: 4rem;
  text-align: left;
  margin-top: 6rem;
  margin-bottom: 0;
}

.home-body {
  font-family: objektiv-mk3, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4;
  text-align: left;
}