.login-container {
  position: relative;
  display: flex;
  flex-direction: column;

  margin: 1.5rem auto 6rem;
  min-width: 320px;
  width: 66%;
  padding: 40px 42px 48px;

  border: 1px solid white;
  background-color: #F6F8F7;
  box-shadow: 0 0 18px 2px rgba(4, 4, 4, 0.025),
              0 2px 9px rgba(4, 4, 4, 0.1);
  border-radius: 3px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.login-header {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.login-label {
  text-align: left;
  padding-bottom: 4px;
}

* + .login-label {
  margin-top: 1rem;
}

.login-retrieval {
  margin: 1.8rem 0 0;
  font-size: 0.9rem;
  text-align: left;
}

.login-register {
  position: absolute;
  bottom: -16px;
  left: 0;

  font-size: 0.9rem;

  transform: translateY(100%);
}

.login-register a {
  margin-left: 5px;
  text-decoration: none;
}

.login-register a:hover { text-decoration: underline; }
