.registration-container {
  position: relative;
  display: flex;
  flex-direction: column;

  margin: 1.5rem auto 6rem;
  min-width: 320px;
  width: 66%;
  padding: 40px 42px 48px;

  border: 1px solid white;
  background-color: #F6F8F7;
  box-shadow: 0 0 18px 2px rgba(4, 4, 4, 0.025),
              0 2px 9px rgba(4, 4, 4, 0.1);
  border-radius: 3px;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-header {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.registration-label {
  text-align: left;
  padding-bottom: 4px;
}

* + .registration-label {
  margin-top: 1rem;
}
