.it-customer-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: acumin-pro, sans-serif;
  height: calc(100% - 70px);
  padding-top: 2rem;
}

.it-cdv-wrapper {
  min-width: 400px;
  width: 60%;
  max-width: 1200px;
  padding: 0 32px;
}

.it-cdv-tk-filters {
  display: flex;
  padding: 8px;

  background-color: #F6F8F7;
  border-bottom: 1px solid #DEDEDE;
}

.it-cdv-filters-left {
  display: flex;
}

.it-cdv-filters-right {
  align-self: flex-end;
}

.it-cdv-tk-container {
  background-color: #FAFAFA;
  border: 1px solid #B5CABD;
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(16, 16, 16, 0.1);
  overflow: hidden;
}

.it-cdv-tk-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.it-cdv-tk-item {
  position: relative;
  padding: 12px 16px;
  padding-right: 64px;
}

.it-cdv-tk-item + .it-cdv-tk-item {
  border-top: 1px solid #E5E5E5;
}

.it-cdv-tk-item:hover {
  background-color: #EAF0ED;
}

.tk-item-delete {
  opacity: 0;
  top: 18px;
  right: 18px;
  position: absolute;
  width: 28px;
  height: 28px;
  padding: 4px;

  color: #808080;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 3px;
  border: 2px solid currentColor;

  cursor: pointer;

  transition-property: opacity;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}

.tk--item-want-delete,
.tk-item-delete:hover {
  color: #E23C3C;
  background-color: rgba(226, 60, 60, 0.2);
}

.tk--item-want-delete,
.tk-item-delete:hover,
.it-cdv-tk-item:hover .tk-item-delete {
  opacity: 1;
}

.it-cdv-tk-btn {
  width: 100%;
  border-radius: 4px;
  padding: 2px 8px;

  background-color: transparent;
  border: 0;
  outline: none;
  opacity: 70%;

  transition-property: opacity;
  transition-duration: 123ms;
  transition-timing-function: ease-out;

  cursor: pointer;
}

.it-cdv-tk-btn:focus-visible {
  outline: none;
}

.it-cdv-tk-btn:hover {
  opacity: 100%;
}

.it-cdv-tk-btn--active {
  opacity: 100%;
  font-weight: bolder;
}

.it-cdv-tk-view-empty {
  width: 100%;
  height: 100%;
}

.it-loading-view {
  font-size: 2rem;
  font-weight: bold;
}

.cdv-tk-item-prim-line,
.cdv-tk-item-sec-line {
  display: flex;
}

.cdv-tk-item-prim-line {
  align-items: center;
  gap: 4px;
  font-size: 1.05rem;
  margin-bottom: 3px;
}

.cdv-tk-item-sec-line {
  font-size: 0.9rem;
  color: #525252;
}

.cdv-tk-item-id {
  color: #808080;
  font-size: 0.9rem;
}

.cdv-tk-item-id:before {
  content: '#';
  color: currentColor;
  font-size: 0.9rem;
}

.cdv-tk-action-line {
  min-width: 400px;
  width: 60%;
  height: 2.5rem;
  max-width: 1200px;
  padding: 0 32px;

  gap: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.cdv-tk-new-btn {
  border-radius: 3px;
  padding: 8px;
  color: white;
  background-color: #498D64;
  border: 1px solid #3C7C55;
  cursor: pointer;

  box-shadow: 0 0 4px rgba(4, 4, 4, 0.28);

  transition-property: background-color, box-shadow;
  transition-duration: 128ms;
  transition-timing-function: ease-out;
}

.cdv-tk-new-btn:hover {
  background-color: #57A85F;
  box-shadow: 0 0 5px rgba(4, 4, 4, 0.33);
}

.cdv-tk-new-btn:active {
  background-color: #3C7C55;
  box-shadow: 0 0 3px rgba(4, 4, 4, 0.35);
}

.cdv-tk-search {
  padding: 0 16px;
  flex-grow: 0;
  border-radius: 3px;
  background-color: white;
  border: 1px solid white;

  box-shadow: 0 0 4px rgba(4, 4, 4, 0.28);
  transition: flex-grow;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
}

.cdv-tk-search:hover {
  border-color: #498D64;
  background-color: #FAFAFA;
}

.cdv-tk-search:focus {
  flex-grow: 1;
  outline: 0;
  background-color: white;
  border-color: #57A85F;
  appearance: none;
  border-radius: 3px;
}

.cdv-tk-item-title {
  text-decoration: none;
  color: currentColor;
}

.cdv-tk-item-title:hover {
  color: #498D64;
}