.view svg {
  width: 24px;
  height: 24px;
}

.view {
  font-family: acumin-pro, sans-serif;
  min-width: 400px;
  width: 60%;
  max-width: 1200px;
  padding: 0 32px;
  height: calc(100vh - 70px - 4rem - 3.5rem);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  border: 1px solid #B5CABD;
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(16, 16, 16, 0.1);
  height: 100%;
  min-height: 280px;
}

.ticket-title {
  text-align: left;
  margin: 1rem 1rem 0.9rem;
}

.ticket-id {
  margin-left: 4px;
  font-weight: lighter;
  color: #808080;
}

.ticket-description {
  text-align: left;
  margin: -0.25rem 1rem 1.3rem;
}

.message-area {
  flex-grow: 1;
  position: relative;
  margin: 0 1rem 1rem;
  overflow: hidden;
}

.message-input {
  padding: 8px;
  flex-grow: 1;
  background-color: #bdbdbd0e;
  border: 1px solid #DBE5DF;
  border-top: 0;
  resize: none;

  transition-property: border, box-shadow, background-color;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
}

.message-input:focus {
  outline: 0;
  background-color: white;
  appearance: none;
  border-radius: 3px;
}

.message-send-btn {
  color: white;
  background-color: #498D64;
  border: 1px solid #3C7C55;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(4, 4, 4, 0.28);

  transition-property: background-color, box-shadow;
  transition-duration: 128ms;
  transition-timing-function: ease-out;
}

.message-send-btn:hover {
  background-color: #57A85F;
  box-shadow: 0 0 5px rgba(4, 4, 4, 0.33);
}

.message-send-btn:active {
  background-color: #3C7C55;
  box-shadow: 0 0 3px rgba(4, 4, 4, 0.35);
}

.message-send-btn:disabled {
  opacity: 95%;
  pointer-events: none;
  background-color: #E0E0E0;
  border-color: #BDBDBD;
  color: #525252;
  box-shadow: 0 0 0 rgba(8, 8, 8, 0.1);
}

.message-controls {
  display: flex;
  height: 3.5rem;
}
