.employee-dashboard {
  display: grid;
  grid-template:
    'filter-container tickets-container' 1fr
    / 300px 1fr;
  height: calc(100% - 30px);
}

#main-title {
  margin-top: auto;
  padding-top: auto;
}

.controls-container {
  border-radius: 3px;
  background-color: rgba(152, 192, 168, 0.75);
  border-right: 1px solid #dbe5df;
}

.control-header {
  padding: 5px;
  margin: 0;
}

.page-button-display {
  width: 90%;
  height: auto;
  margin: 10px;
}

.user-page-input {
  width: 50px;
}

.page-button {
  width: auto;
  height: auto;
  border-radius: 3px;
  color: white;
  background-color: #498d64;
  border: 1px solid #3c7c55;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(4, 4, 4, 0.28);
  transition-property: background-color, box-shadow;
  transition-duration: 128ms;
  transition-timing-function: ease-out;
}

.page-button:hover {
  background-color: #57a85f;
  box-shadow: 0 0 5px rgba(4, 4, 4, 0.33);
}

.page-button:active {
  background-color: #3c7c55;
  box-shadow: 0 0 3px rgba(4, 4, 4, 0.35);
}

.page-error {
  color: rgb(163, 10, 10);
}

.filters-display {
  display: grid;
  grid-template-columns: 40% 40%;
}

.filter-set {
  margin: 0px 0px auto auto;
  padding: 0px;
}

.filter-values {
  display: flex;
}

.tickets-container {
  margin: 1rem auto;
  width: 90%;
  padding: 20px 15px 20px;
}

.active-ticket {
  background-color: rgba(163, 223, 193, 0.75);
  box-shadow: 0 0 18px 2px rgba(4, 4, 4, 0.025), 0 2px 9px rgba(4, 4, 4, 0.1);
  border-radius: 3px;
  margin: 5px;
  margin-top: 30px;
}

#ticket-title {
  padding-top: 10px;
}

.main-details {
  margin: 5px;
  text-transform: capitalize;
}

.ticket-body {
  margin: 15px;
  text-align: left;
}

.ticket-detail {
  padding: 5px;
  box-shadow: 0 0 15px #f6f8f7;
}

.ticket-detail h5 {
  padding: 15px 5px 5px 5px;
  margin: auto;
}

.ticket-detail p {
  padding: 5px 10px;
  margin: auto;
}

#ticket-input {
  height: 75px;
}

.button-container {
  display: grid;
  grid: 30% / auto auto auto;
}

.ticket-change-button {
  width: 90%;
  margin: auto 15px auto 15px;
  border-radius: 3px;
  color: white;
  background-color: rgb(73, 141, 100);
  border: 1px solid #3c7c55;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(4, 4, 4, 0.28);
  transition-property: background-color, box-shadow;
  transition-duration: 128ms;
  transition-timing-function: ease-out;
}
