html {
  box-sizing: border-box;
  text-align: center;
  text-size-adjust: 100%;
  color: rgb(234, 244, 252);
}

body {
  color: #212121;
  background-color: #dbe2e7;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
}

body {
  font-weight: normal;
  font-family: objektiv-mk3, sans-serif;
}

main {
  position: relative;
  margin: 0 auto;
  width: 70%;
  max-width: 777px;
  padding: 30px;
}
