* {
  margin: auto;
  padding: auto;
}

html {
  background-image: linear-gradient(to right, #2966e9, #eaf4fc, #2966e9);
  text-align: center;
}

header {
  margin: 10px;
}

nav {
  padding: 15px;
  background-color: #4ec1e6;
}

.nav-item {
  padding: 15px 40px;
  border-color: rgba(245, 245, 245, 0.8);
  box-shadow: 2px 2px 2px 2px #6e6e6e inset;
}

main {
  width: 60%;
  border-style: solid;
  display: block;
}
